<mat-card>
    <mat-card-content><h2>Profile Details</h2>
    <div>
        <div class="image"> </div>
        <h1>{{this.login.getUser().fullName}}</h1>
<div class="table">
    <table>
        <tr>
            <td>Username</td>
            <td>{{this.login.getUser().username}}</td>
        </tr>
        <tr>
            <td>UserID</td>
            <td>{{this.login.getUser().id}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{this.login.getUser().phone}}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td>{{this.login.getUser().authorities[0].authority}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{this.login.getUser().enabled?"ACTIVE":"NOT ACTIVE"}}</td>
        </tr>
    </table>
</div>

    </div>
</mat-card-content>
<mat-card-actions >
    <div class="footerButton">
<button mat-raised-button color="primary" (click)="update()">Update</button>
<button mat-raised-button color="accent">Share</button>
</div>

</mat-card-actions>

</mat-card>
