<mat-card *ngFor="let q of quizzes" style="margin-bottom: 30px;">
    <mat-card-header>
        <div class="logo"></div>
        <mat-card-title class="content">{{q.title}}</mat-card-title>
        <mat-card-subtitle class="content">{{q.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="conntent">
        <p>{{q.description}}</p>
    </mat-card-content>
    <div class="question_button">
        <button mat-flat-button color="warn" style="margin-left: 12px;" [routerLink]="'/admin/question/'+q.qid+'/'+q.title">Questions</button>
        <button mat-stroked-button color="primary" style="margin-left: 12px;">MaxMarks:{{q.maxMarks}}</button>
        <button mat-stroked-button color="primary" style="margin-left: 12px;">Questions:{{q.noOfQuestions}}</button>
        <button mat-flat-button color="accent"style="margin-left: 12px;" [routerLink]="'/admin/quiz/'+q.qid">Update</button>
        <button mat-flat-button color="warn"style="margin-left: 12px;" >Attempts</button>
        <button mat-flat-button color="warn"style="margin-left: 12px;" (click)="deleteQuiz(q.qid)">Delete</button>

    </div>
</mat-card>
<div class="addquiz">
    <button mat-flat-button color="primary" style="margin: 10px;" routerLink="/admin/addQuiz">Add Quiz</button>

</div>